.games-container hr {
    border-top: 1px solid #999;
}
.form-inline .form-group {
	margin-right: 20px;
}
.form-group-key {
	width: 37%;
}
.form-group-key>.form-control {
	width: 84%;
}
.table-with-forms {
	display: table;
}
.form-row {
	display: table-row;
}
.form-cell {
	display: table-cell;
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.form-head {
	font-weight: bold;
}
.input-sum {
	width: 85%;
    display: inline-block;
    margin-right: 15px;

}
.payment-page .row{
	padding-bottom: 10px;
}
hr {
	border-top: 1px solid #ccc;
}
.form-control-small {
	max-width: 60px
}
.textarea-fixed {
	max-width: 300px;
	max-height: 200px;
}
.textarea-modal {
	width: 100%;
	max-width: 100%;
}